$themes: (
  default: (
    "body-bg": #e5e5e5,
    "primary": #3ba5dc,
    "secondary": #8392ab,
    "success": #00f867,
    "info": #5d0149,
    "warning": #fbcf33,
    "danger": #ea0606,
    "light": #e9ecef,
    "dark": #111927,
    "grey": #cbcbcb,
    // "cs-red": #a22c29,
    // "cs-black": #0c0c0c,
    // "cs-gray": #d9d9d9,
    // "cs-yellow": #ffca4b,
    // "cs-green": #33673B,
    // "cs-white": #ffffff,
    // "rc-fresh": #98ffc1,
    // "rc-fresh-txt": #005217,
    // "rc-warn": #ffca4b,
    // "rc-warn-txt": #422c00,
    // "rc-spoil": #ff6262,
    // "rc-spoil-txt": #160000,
  ),
  dark: (
    "body-bg": #090f18,
    "primary": #89e5b0,
    "secondary": #fff9a4,
    "success": #00f867,
    "info": #330163,
    "warning": #fbcf33,
    "danger": #eb5757,
    "light": #ebeef1,
    "dark": #090f18,
    "grey": #cbcbcb,
    // "cs-red": #a22c29,
    // "cs-black": #0c0c0c,
    // "cs-gray": #d9d9d9,
    // "cs-yellow": #ffca4b,
    // "cs-green": #33673B,
    // "cs-white": #ffffff,
    // "rc-fresh": #98ffc1,
    // "rc-fresh-txt": #005217,
    // "rc-warn": #ffca4b,
    // "rc-warn-txt": #422c00,
    // "rc-spoil": #ff6262,
    // "rc-spoil-txt": #160000,
  ),
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);

$font-sans-serif: Open Sans;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));
